body,
html {
    scroll-behavior: smooth;
    margin: 0;
    height: 100%;
    background-color: #ffe4c4
}

.parent {
    height: 100%
}

.container {
    height: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center
}

.mobile-only {
    display: none
}

hr.divider {
    margin: 0 5%;
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: #000;
    border-width: 2px 0 0;
    border-radius: 20px
}

hr.divider:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -32px;
    border-style: solid;
    border-color: #000;
    border-width: 0 0 2px;
    border-radius: 20px
}

.second-container {
    height: 100%;
    display: flex
}

.row-column {
    flex-direction: row
}

.text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    overflow: auto
}

.text>* {
    margin: 4%;
}

.text p {
    font-weight: 600;
    font-size: 1rem;
    font-family: BioRhyme
}

a {
    color: unset;
    text-decoration: unset
}

.text a {
    color: #834800;
    border-bottom: 2px solid #834800
}

.right-project a {
    color: #834800;
    border-bottom: 2px solid #834800
}

.links {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column
}

.text-container {
    transition: color .5s;
    padding: 20px;
    border: solid 5px;
    border-radius: 25px;
    box-shadow: -10px 10px 0
}

.link-container {
    box-shadow: -5px 5px 0
}

.link svg {
    margin: 25px;
    width: 25%;
    height: auto
}

.link-row {
    flex: 1;
    display: flex;
    flex-direction: row
}

.link {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: background-color .5s ease;
    transition: fill .5s ease;
    color: unset;
    text-decoration: unset
}

.link:hover {
    background-color: #000;
    cursor: pointer;
    color: #fff;
    fill: #fff
}

.text-container>h1 {
    margin: 0;
    font-size: 500%;
    font-weight: 700;
    font-family: 'Bungee Shade', sans-serif
}

.text-container>h2 {
    margin: 0;
    font-size: 250%;
    font-weight: 700;
    font-family: 'Bungee Shade', sans-serif
}

.text-container>p {
    margin: 0;
    font-size: 100%;
    font-weight: 700;
    font-family: Bungee, sans-serif
}

.project-container {
    display: flex;
    height: 80%;
    flex: 1;
    border: solid 5px;
    margin: 5%;
    border-radius: 25px;
    box-shadow: -10px 10px 0
}

.left-project {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: .7
}

.left-project>h3 {
    flex: .1;
    font-family: Bungee;
    margin: 20px;
    text-align: center;
    font-size: 6vmin
}

.third {
    height: initial;
    margin: 15vh 0 20vh
}

.img-holder {
    position: relative;
    padding: 1%;
    margin: 1% 3%;
    display: flex;
    flex: .8;
    border-radius: 20px;
    border-style: none;
    background: #ffe4c4;
    overflow: scroll;
    box-shadow: inset 8px 8px 16px #baa68f, inset -8px -8px 16px #fffff9
}

.vertical {
    flex-direction: column
}

.scroll-advisory {
    text-align: center
}

.scroll-advisory p {
    margin: unset;
    font-size: 70%;
    font-weight: 700;
    font-family: Montserrat, sans-serif
}

.ss {
    flex: 0 0 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center
}

.vertical .ss {
    margin-bottom: 5%
}

.small-arrow {
    vertical-align: middle
}

.pointing-right {
    transform: rotate(-90deg)
}

.vertical .ss:last-child {
    margin-bottom: 0
}

.gu-1 {
    background-image: url(images/gu-1.png)
}

.gu-2 {
    background-image: url(images/gu-2.png)
}

.gu-3 {
    background-image: url(images/gu-3.png)
}

.az-1 {
    background-image: url(images/az-1.png)
}

.az-2 {
    background-image: url(images/az-2.png)
}

.az-3 {
    background-image: url(images/az-3.png)
}

.right-project {
    flex: .3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: scroll;
    margin: 2% 5%
}

.right-project>title {
    font-size: 150%;
    font-weight: 700;
    font-family: Bungee, sans-serif
}

.right-project>p {
    font-weight: 600;
    font-size: 1rem;
    font-family: BioRhyme;
    text-align: justify;
    text-justify: inter-character
}

.right-project>ul>li {
    font-weight: 600;
    font-size: 1rem;
    font-family: BioRhyme
}

.scroll {
    position: absolute;
    padding: 5px;
    bottom: 20px;
    right: 20px;
    opacity: 50%;
    filter: drop-shadow(0 0 5px #fff);
    transition: opacity .5s
}

.scroll:hover {
    opacity: 100%;
    cursor: pointer
}

.inside {
    opacity: unset;
    position: sticky;
    height: 2vh
}

@media only screen and (max-width:768px) {
    .row-column {
        flex-direction: column
    }

    .text {
        flex: 1.2;
        justify-content: flex-start
    }

    .links {
        flex: 1;
        height: unset
    }

    .second-container {
        height: 220%
    }

    .text-container>h1 {
        font-size: 200%
    }

    .text-container {
        margin: 5%
    }

    .project-container {
        height: 90%
    }

    .left-project {
        flex: 1
    }

    .right-project {
        flex: 1
    }

    .mobile-only {
        display: unset
    }

    .img-holder {
        flex-direction: column;
        margin: 0 5%
    }

    .row-reverse {
        flex-direction: column-reverse
    }

    .ss {
        flex: 0 0 100%;
        margin-bottom: 20px
    }

    .resize {
        height: 150%
    }

    .pointing-right {
        transform: unset
    }
}